# Python virtual environments
venv/
ENV/
env/
.venv/

# Cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# System / editor files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Build output
build/
dist/
*.egg-info/
